@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f8;
}

.calculator-block{
  margin-top: 10%;
  width: 50%;
  padding: 24px 32px;
  border-radius: 12px;
  background-color: #fff;
}

.date-input {
  
}

.date-input input{
  border: 1px solid rgb(224, 224, 224);
  padding:12px 8px;
  border-radius: 4px;
}

.error-message{
  color:red;
}